.header {
    display: flex;
    justify-content: space-between;
}

.level {
    position: relative;
    background-image: linear-gradient(to right, #81611D, #C79832);
    height: 30px;
    line-height: 30px;
    color: black;
    letter-spacing: 0.1em;

    padding-left: 7px;
    padding-right: 2px;
}

.level:before {
    content: "";
    position: absolute;
    left: 100%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #C79832;
}

.level h2 {
    font-size: 1.1em;
}

.level small {
    font-size: 0.5em;
}

.result .fa {
    font-size: 2em;
    padding-right: 5px;
}

.fa-check {
    color: #3D962F;
}

.fa-times {
    color: #C33232;
}