.base_container {
  width: 508px;
  height: 322px;
  background-image: url("../images/background.png");
  background-color: black; 
  position: relative;
}

.stage_container {
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../images/bg-lvl.png");
  width: 90px;
  height: 39px;
  align-content: center;
}

.champion_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.center {
  margin-top: 13.5px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

img.object-fit_champion { 
  position: absolute;
  border-radius: 50%;

  border: 5px solid #FFD700;
  object-fit: contain;
  border-radius: 50%;

  width: 140px;
  height: 140px;
}