<div class="top-header">
    <div class="left">
        <div class="image-rounded">
            <img src="{{data.streamer.img}}" />
        </div>
        
        <div class="title">
            <h1>{{data.streamer.name}}</h1>
            <h2><a>{{data.title}}</a></h2>
        </div>
    </div>
    
    <div class="standing">
        <h3>Final Standing</h3><p class="standing-rank">{{data.standing}}
        </p>
    </div>
</div>